################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MicroBizz.Visitour/obj
/.vs
/MicroBizz.Visitour/bin/Debug/net6.0
